<% provide(:title, "Home")%>
<!DOCTYPE html>

<html>
<head>
  <title><%= yield(:title)%> | BUKISA </title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<title> BUKISA </title>
<style type = "text/css">
	body {font-family: Century Gothic;
		margin-left: 15%;
		margin-right: 15%;
		table-column: 30px;
		text-align: center;}
	a:link {text-decoration: none;
		color: #000000;
		font-size: 25px;
		: 10px;}
	a:visited {text-decoration: none;
		color: #000000;}
	a:hover {text-decoration: underline;
		color: red;
		}
	table {border-collapse: separate;
		border-spacing: 50px 0;
		}
	table.center {
		margin-left: auto;
		margin-right: auto;
		}		
	h1 {font-family: Century Gothic;
		font-size: 50px;
		padding-bottom: 0;
		text-decoration: underline;
		text-decoration: bold;
		}
	h2 {font-family: Century Gothic;
		font-size: 20px;
		padding-top: 0;
		padding-bottom: 25px;
		}
		
</style>
</head>

<body>
<h1> BUKISA </h1>
<h2> Boston University Korean International Student Association </h2>
<!--<p></p> is new paragraph, <br /> put after the line next line without indent
<strong></strong> is BOLD
<em></em> is italic
<font color "red"></font> changing the color of the font <font size "12"></font> changing the font size 
-->


<table class="center">
	<tr>
		<td><a href ="home"> Home </a></td>
		<td><a href ="aboutkisa"> AboutKISA </a></td>
		<td><a href ="eboard"> E-Board </a></td>
		<td><a href ="events"> Events </a></td>
		<td><a href ="internjobOppertunity"> Intern/Job </a></td>
		<td><a href ="photos"> Photos </a></td>
		<td><a href ="contact"> Contact </a></td>
		<td></td>
		<td><a href ="https://www.facebook.com/groups/bukisa/" target="_blank"> <img src="Facebook.jpg" height="30" /> </a></td>
	</tr>
</table>

<!-- to make bullet point list <ul> <li></li></ul> & to make number list <ol><li></li></ol>
-->

</body> 
</html>